#Hi!, this config is not intended to become an example of beauty in yabar.
#It is just intended to show an example (specifically an example config that uses internal blocks) of what you can do using yabar.
#You are more than welcomed to send me (using a pull request maybe) your better colors and I will merge it.
bar-list = ["bar1"];

bar1:{
	font: "Droid Sans 7, FontAwesome 8";
	block-list: ["ya_todo", "ya_habit", "ya_cal", "ya_ws", "ya_mail", "ya_thermal", "ya_battery"];
	#block-list: ["ya_date", "ya_uptime"];
	position: "top";
	gap-horizontal: 8; 		#width in pixels
	#width: 1100;
	#border-size: 2;
	#border-color-rgb: 0xffffff;
	gap-vertical: 4; 		#width in pixels
	height: 16; 			#height
	#background-color-argb: 0xF01C2027;
	#monitor: "LVDS1";
	background-color-rgb:0x1C2027;
	underline-size: 2;
	overline-size: 2;
	slack-size: 0;
	ya_ws: {
		exec: "YABAR_WORKSPACE";
		align: "center";
		fixed-size: 40;
		internal-option1: "         ";
	}
	ya_title: {
		exec: "YABAR_TITLE";
		align: "center";
		justify: "center";
		fixed-size: 300;
	}
	ya_date:{
		exec: "YABAR_DATE";
		align: "center";
		fixed-size: 60;
		interval: 2;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x6699cc;
		internal-prefix: " ";
		internal-option1: "%I:%M";
	}
	ya_uptime:{
		exec: "YABAR_UPTIME";
		align: "right";
		fixed-size: 70;
		interval: 1;
		background-color-rgb:0x96B49C;
		underline-color-rgb:0xF8CA00;
		internal-prefix: " ";
		#internal-spacing: true;
	}
	ya_mem:{
		exec: "YABAR_MEMORY";
		align: "right";
		fixed-size: 60;
		interval: 1;
		background-color-rgb:0xF01C2027;
		underline-color-rgb:0x45ADA8;
		internal-prefix: " ";
		#internal-spacing: true;
	}
	ya_thermal: {
		exec: "YABAR_THERMAL";
		align: "right";
		fixed-size: 40;
		interval: 1;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
		internal-option1: "thermal_zone0"; #Get NAME from /sys/class/NAME/temp
		internal-prefix: " ";
		#internal-spacing: true;
	}
	ya_brightness: {
		exec: "YABAR_BRIGHTNESS";
		align: "right";
		fixed-size: 50;
		interval: 1;
		background-color-rgb:0x81A8B8;
		underline-color-rgb:0xBD1550;
		internal-prefix: " ";
		internal-option1: "intel_backlight";
		#internal-spacing: true;
	}
	ya_bw: {
		exec: "YABAR_BANDWIDTH";
		align: "right";
		fixed-size: 110;
		interval: 1;
		internal-prefix: " ";
		internal-option1: "wls3"; #Replace this with your network interface. Get it by using the command `ifconfig` or `ip addr show`
		internal-option2: " "; #Use characters(usually utf characters as shown) to be placed before down/up data, separated by a space
		#background-color-rgb:0x547980;
		background-color-rgb:0x3EC9A7;
		underline-color-rgb:0xD95B43;
		#internal-spacing: true;
	}
	ya_cpu: {
		exec: "YABAR_CPU";
		align: "right";
		fixed-size: 50;
		interval: 1;
		internal-prefix: " ";
		internal-suffix: "%";
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x98D9B6;
		#internal-spacing: true;
	}
	ya_disk: {
		exec: "YABAR_DISKIO";
		align: "right";
		fixed-size: 110;
		interval: 1;
		internal-prefix: " ";
		internal-option1: "sda"; #Get NAME from /sys/class/block/NAME/stat
		internal-option2: " "; #Use characters(usually utf characters as shown) to be placed before down/up data, separated by a space
		background-color-rgb:0x49708A;
		underline-color-rgb:0xECD078;
		#internal-spacing: true;
	}
    ya_battery: {
        exec: "echo -n '' $(acpi | cut -d ',' -f 2)";
        align: "right";
        fixed-size: 50;
        type: "periodic";
        interval: 60;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
    }
    ya_mail: {
        exec: "echo -n ' ' $(ls -rA1 $HOME/.mail/INBOX/new | wc -l)";
        align: "right";
        fixed-size: 40;
        type: "periodic";
        interval: 60;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
    }
    ya_todo: {
        exec: "echo -n ' ' $(task +next +PENDING count)";
        align: "left";
        fixed-size: 40;
        type: "periodic";
        interval: 60;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
    }
    ya_habit: {
        exec: "echo -n ' ' $(task -OVERDUE +habit +PENDING count)";
        align: "left";
        fixed-size: 40;
        type: "periodic";
        interval: 60;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
    }
    ya_cal: {
        exec: "echo -n ' ' $(task due month -habit +PENDING count)";
        align: "left";
        fixed-size: 40;
        type: "periodic";
        interval: 60;
		background-color-rgb:0x1C2027;
		underline-color-rgb:0x99cc99;
    }
}
